footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--space-sm);
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-lg);
}

.footer-grid p {
  color: var(--color-white);
}

.footer-grid section {
  padding: var(--space-sm);
}
.copyright {
  text-align: center;
  color: var(--color-white);
  margin-top: var(--space-lg);
  opacity: 0.7;
}

.copyright span {
  display: block;
}
