.hero {
  background-image: url(../../assets/img/hero-background-image.png);
  background-size: cover;
  background-position: center;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: var(--space-xl);
}

.hero span {
  color: var(--color-primary);
  font-weight: 200;
}

.hero-buttons {
  margin-top: var(--space-md);
  display: flex;
  gap: var(--space-sm);
}

.hero-buttons .primary-btn {
  width: 100%;
}

@media (max-width: 900px) {
  .hero-buttons .secondary-btn {
    display: none;
  }
}
